


  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #ffd700; /* Change color on hover */
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .home-container {
    text-align: center;
    padding: 50px 0;
  }

  .home-container h2 {
    font-size: 2.5rem;
    color: #333;
  }

  .home-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
  }

  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .cta-button:hover {
    background-color: #ffd700; /* Change background color on hover */
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }

  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .product-image img{
      width: 100%;
      height: 200px;

  }


  .product-details {
    padding: 15px;
  }

  .product-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 3px;
  }

  .product-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-rating {
    font-size: 1.2rem;
    color: #ffd700;
    margin-bottom: 10px;
  }

  .product-link {
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .product-link:hover {
    background-color: #ffd700; /* Change background color on hover */
  }

  .about-container,
  .contact-container {
    text-align: center;
    padding: 50px 0;
  }

  .info h2{
    margin-bottom: 5px;
  }