*{       margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.print-area{
    width:85%;

}
.print-area .header{
width:100%;
height:150px;
background-color:rgb(31,34,43);
display:flex;
align-items:center;
position:relative;

}

.header img{
width:200px;
height:200px;
border-radius: 50%;
position: absolute;
top: 50px;
left: 60px;
border: 5px solid white;
box-shadow: 3px 3px 10px rgba(0,0,0,.5);
cursor:pointer;
transition: .5s;
user-select:none;
filter: grayscale(100%);

}
.header img:hover{
filter: grayscale(0%);
transform:scale(1.05);
box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}

.header-text{
    display: block;
    align-items: flex-end;
    color:white;
    width:60%;
    margin-left:auto;
}
.header-text h1{
font-size:30px;
font-weight:normal;
}
.header-text p{
font-size:20px;
color:lightgray;
}
.content{
    width: 85%;
    display:flex;
    flex-wrap:wrap;
}
.left-area{
    width:30%;
    background-color:rgb(236, 236, 236);
    text-align:center;
    padding-bottom:20px;
}
.left-area .contact{
margin-top:130px;
padding: 0 30px;
margin-bottom: 15px;

}
.contact h4{
font-size:30px;
font-weight:normal;
margin:20px 0;
}
.contact h5{
font-size:18px;
margin:10px 0;
}
.contact p{
font-size:17px;
}
.skills{
margin-top:30px;
}
.skills h1{
font-size:30px;
font-weight:normal;
}
.bars{
margin-top:30px;
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-gap:20px 10px;

}

.bars .bar p{
font-size:15px;
font-weight:bold;
}
.bar span{
display:block;
width:100%;
height:10px;
background-color:lightgray;
margin-top:10px;
border-radius:10px;
position:relative;

}
.bar span::before{
position:absolute;
content:"";
width:80%;
height:80%;
background-color:black;
top:50%;
left:2px;
transform:translateY(-50%);
border-radius:10px;
}
.follow h1{
margin-top:30px;
font-size:30px;
font-weight:normal;
}
.follow h4{
font-size:18px;
margin:10px 0;
}
.follow p{
font-size:15px;
color:gray;
}

.right-area{
width:70%;
padding:50px;
}
.right-area .about p{
    overflow: auto;
}
.right-area h1{
font-size:25px;
font-weight:normal;
}
.right-area h1 span{
margin-right:30px;
font-size:50px;
color:lightgray;
}
.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 17px;
    color:gray;
    margin-top: 10px;
}
.work .work-group{
    position: relative;
}
.work-group h3{
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}
.work-group h4{
    font-size: 18px;
    font-weight: normal;
    padding-left: 70px;
    color:gray;
}
.work-group span{
    position: absolute;
    top:10px;
    right:0;
    color:black;
    font-weight:bold;
    font-size:15px
}
.education{
    margin-top: 30px;
}
.edu-group{
    position:relative;
    margin-left: 70px;
}
edu-group h4{
    padding-left:80px;
    font-size: 20px;
    font-weight: normal;
}
.edu-group span{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
    font-weight: bold
}
.edu-group p{
    padding-left: 80px;
}
button{
    font-size: 25px;
    padding:10px 20px;
    margin:50px 0 50px 140px;
    background-color:rgb(83, 83, 83);
    border: none;
    outline: none;
    color: white;
    border-radius:5px;
    box-shadow:0 0 10 px rgba(0,0,0,.5);
    cursor:pointer;
    transition:.5s;
}
button:hover{
    background-color:black;
    box-shadow:0 0 30px rgba(0,0,0,.5);

}

/* ... (your existing CSS) ... */

/* ... (existing styles) ... */

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header-image {
        text-align: center;
        margin-top: 10px; /* Adjust as needed */
    }

    .print-area .header img {
        width: 50%; /* Adjust as needed */
        height: auto;
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
        margin-bottom: 10px; /* Adjust as needed */
    }

    .header-text {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .left-area {
        width: 100%;
        padding-bottom: 10px;
    }

    .bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-area {
        width: 100%;
        padding: 20px;
    }

    /* ... (other responsive adjustments) ... */
}
